<!DOCTYPE html>
<html>
<head>
    <title>Driver Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Driver Information</h1>
        <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{ driver['name'] }}</dd>

            <dt class="col-sm-3">Birthdate:</dt>
            <dd class="col-sm-9">{{ driver['birthdate'] }}</dd>

            <dt class="col-sm-3">Phone:</dt>
            <dd class="col-sm-9">{{ driver['phone'] }}</dd>

            <dt class="col-sm-3">Address:</dt>
            <dd class="col-sm-9">{{ driver['address'] }}</dd>

            <dt class="col-sm-3">License:</dt>
            <dd class="col-sm-9">{{ driver['license_number'] }}</dd>

            <dt class="col-sm-3">Issued Date:</dt>
            <dd class="col-sm-9">{{ driver['license_issued_date'] }}</dd>

            <dt class="col-sm-3">Expiry Date:</dt>
            <dd class="col-sm-9">{{ driver['license_expiry_date'] }}</dd>
        </dl>

        <h2>Route History</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Start Point</th>
                    <th>End Point</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Distance</th>
                    <th>Fuel Consumption</th>
                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                <tr>
                    <td>{{ route['start_point'] }}</td>
                    <td>{{ route['end_point'] }}</td>
                    <td>{{ route['start_time'] }}</td>
                    <td>{{ route['end_time'] }}</td>
                    <td>{{ route['distance'] }}</td>
                    <td>{{ route['fuel_consumption'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>